In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/Financial Statements.csv")

In [5]:
df.isnull().sum()

Year                                   0
Company                                0
Category                               0
Market Cap(in B USD)                   1
Revenue                                0
Gross Profit                           0
Net Income                             0
Earning Per Share                      0
EBITDA                                 0
Share Holder Equity                    0
Cash Flow from Operating               0
Cash Flow from Investing               0
Cash Flow from Financial Activities    0
Current Ratio                          0
Debt/Equity Ratio                      0
ROE                                    0
ROA                                    0
ROI                                    0
Net Profit Margin                      0
Free Cash Flow per Share               0
Return on Tangible Equity              0
Number of Employees                    0
Inflation Rate(in US)                  0
dtype: int64

In [6]:
df.describe()

,Year,Market Cap(in B USD),Revenue,Gross Profit,Net Income,Earning Per Share,EBITDA,Share Holder Equity,Cash Flow from Operating,Cash Flow from Investing,...,Current Ratio,Debt/Equity Ratio,ROE,ROA,ROI,Net Profit Margin,Free Cash Flow per Share,Return on Tangible Equity,Number of Employees,Inflation Rate(in US)
count,161.000000,160.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,...,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,1.610000e+02,161.000000
mean,2015.608696,337.604312,75862.600758,37383.463124,12276.607076,0.982886,20174.023974,57178.005273,20790.317839,-9581.533232,...,2.035368,0.645520,12.432402,7.780479,11.881350,13.684964,0.192825,24.247542,1.457188e+05,2.231317
std,4.049960,541.102812,90786.895983,41669.093697,19417.421119,8.874504,26342.029803,54098.208311,27300.212516,16196.808177,...,1.660894,2.507177,44.777292,8.802462,93.384692,13.401767,15.412788,109.982817,2.234389e+05,1.959139
min,2009.000000,0.040000,3326.445000,1174.269000,-12244.000000,-90.480000,-6860.000000,-8210.300000,-39392.270000,-59611.000000,...,0.220500,-11.775000,-212.606900,-23.723600,-742.105200,-44.696100,-121.502200,-554.174100,5.420000e+03,-0.355500
25%,2012.000000,41.155000,22820.400000,10396.000000,844.000000,0.340000,2310.000000,12353.000000,3502.000000,-17434.000000,...,1.000000,0.077200,5.080000,0.828200,2.757900,4.827700,-0.361300,6.111800,2.990000e+04,1.261600
50%,2016.000000,113.140000,45992.040000,19561.000000,4757.800000,1.790000,9958.000000,47791.000000,7386.700000,-5904.000000,...,1.341200,0.381800,14.501600,6.641100,13.469400,15.297700,0.265600,19.782200,9.600000e+04,1.812200
75%,2019.000000,357.107500,77849.000000,47722.000000,14136.000000,3.240000,27765.000000,91570.700000,31626.000000,-981.600000,...,2.473400,0.891400,28.189300,14.701600,20.472300,22.934500,0.935400,36.980600,1.470000e+05,2.442600
max,2023.000000,2913.280000,513983.000000,225152.000000,99803.000000,14.980000,130541.000000,256144.000000,122151.000000,49749.000000,...,10.617800,9.332800,196.958900,31.154100,884.860500,36.686300,137.328700,1197.727000,1.608000e+06,8.002800

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 161 non-null    int64
 1   Company                              161 non-null    object
 2   Category                             161 non-null    object
 3   Market Cap(in B USD)                 160 non-null    float64
 4   Revenue                              161 non-null    float64
 5   Gross Profit                         161 non-null    float64
 6   Net Income                           161 non-null    float64
 7   Earning Per Share                    161 non-null    float64
 8   EBITDA                               161 non-null    float64
 9   Share Holder Equity                  161 non-null    float64
 10  Cash Flow from Operating             161 non-null    float64
 11  Cash Flow from Investing             161 non-null    float64
 12  Cash Flow from Financial Activities  161 non-null    float64
 13  Current Ratio                        161 non-null    float64
 14  Debt/Equity Ratio                    161 non-null    float64
 15  ROE                                  161 non-null    float64
 16  ROA                                  161 non-null    float64
 17  ROI                                  161 non-null    float64
 18  Net Profit Margin                    161 non-null    float64
 19  Free Cash Flow per Share             161 non-null    float64
 20  Return on Tangible Equity            161 non-null    float64
 21  Number of Employees                  161 non-null    int64
 22  Inflation Rate(in US)                161 non-null    float64
dtypes: float64(19), int64(2), object(2)
memory usage: 29.1+ KB

In [15]:
df.columns = (
    df.columns
    .str.strip()
    .str.replace("[()]","", regex = True)
)

df["Market Capin B USD"].fillna(df["Market Capin B USD"].median(), inplace=True)


df.to_csv("../data/Cleaned_Financial_Statements.csv", index=False)

print("Cleaned data saved successfully as 'Cleaned_financial_Statements.csv'")

Cleaned data saved successfully as 'Cleaned_financial_Statements.csv'

C:\Users\vedna\AppData\Local\Temp\ipykernel_1000\3310642244.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Market Capin B USD"].fillna(df["Market Capin B USD"].median(), inplace=True)

In [14]:
print(df.columns.tolist())

['Year', 'Company', 'Category', 'Market Capin B USD', 'Revenue', 'Gross Profit', 'Net Income', 'Earning Per Share', 'EBITDA', 'Share Holder Equity', 'Cash Flow from Operating', 'Cash Flow from Investing', 'Cash Flow from Financial Activities', 'Current Ratio', 'Debt/Equity Ratio', 'ROE', 'ROA', 'ROI', 'Net Profit Margin', 'Free Cash Flow per Share', 'Return on Tangible Equity', 'Number of Employees', 'Inflation Ratein US']

In [2]:
# =======================================================
# STEP 2: FEATURE ENGINEERING FOR FINANCIAL HEALTH MODEL
# =======================================================


df = pd.read_csv("../data/Cleaned_Financial_Statements.csv")


#create a Target Variable
df['Financial_Status'] = df['Net Income'].apply(lambda x:1 if x < 0 else 0)


# ------ Profitability Ratios ------
df['Profit_Margin_Ratio'] = df['Net Income'] / df['Revenue']
df['EBITDA_Margin'] = df['EBITDA'] / df['Revenue']
df['ROA_Ratio'] = df['ROA'] / 100
df['ROE_Ratio'] = df['ROE'] / 100


# ------ Liquidity Ratios ------
df['CashFlow_to_Revenue'] = df['Cash Flow from Operating'] / df['Revenue']
df['Liquidity_Index'] = df['Current Ratio'] * df['CashFlow_to_Revenue']



# ----- Efficiency Ratios -----
df['Profit_to_CashFlow'] = df['Net Income'] / df['Cash Flow from Operating']
df['Revenue_per_Employee'] = df['Revenue'] / df['Number of Employees']

# Save engineered dataset
df.to_csv("../data/Engineered_Financial_Statements.csv", index=False)

print("✅ Feature engineered dataset saved successfully!")

✅ Feature engineered dataset saved successfully!